<p>{{ newuser | json }}</p>

<div id="wrapper">
  <div id="login-form">
    <h2>Log in</h2>
    <form>
      <input type="text" class="login-field" [(ngModel)]="user.email" name="emailLogin" placeholder="Email">
      <input type="password" class="login-field" [(ngModel)]="user.password" name="passwordLogin" placeholder="Password">
      <input type="submit" id="submit" value="Login">
    </form>
  </div>
  <div id="card-container">
    <h2>Create an account</h2>
    <div id="card">
        <div id="image">
            <i class="fa fa-user" aria-hidden="true"></i>      
        </div>
        <form>
          <div class="multi-input">
            <input type="text" id="name" [(ngModel)]="newuser.name" name="name" placeholder="Name">
            <input type="number" id="age" [(ngModel)]="newuser.age" name="age" placeholder="Age">
          </div>  
          <div class="multi-input">
            <i class="fa fa-venus-mars" aria-hidden="true"></i>              
            <select name="gender" [(ngModel)]="newuser.gender">
                <option value="" [disabled]="true">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <i class="fa fa-binoculars" aria-hidden="true"></i>            
            <select name="lookingFor" [(ngModel)]="newuser.lookingFor">                
                <option value="" [disabled]="true">Seeking</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
          </div>  
          <input type="text" class="input-field" [(ngModel)]="newuser.zipcode" name="zipcode" placeholder="Zipcode">
          <input type="text" class="input-field" [(ngModel)]="newuser.email" name="emailRegister" placeholder="Email">
          <input type="password" class="input-field" [(ngModel)]="newuser.password" name="passwordRegister" placeholder="Password">
          <input type="text" class="input-field" [(ngModel)]="newuser.imageUrl" name="image" placeholder="Image URL">
          <textarea id="description"  [(ngModel)]="newuser.description" name="description"
          placeholder="Description (max. 150 chars)" maxlength="150">
          </textarea>
          <input type="submit" id="submit" value="Take the test!">
        </form>
      </div>
  </div>
</div>