{{ test | json }}
<br>
{{ count }}
<br>
{{ personality | json }}

<div class="survey" *ngFor="let element of questions | slice:count:(count+1)">
  <div *ngFor="let placeholder of questionBank | slice:0:10; let num = index">
    <p>{{ element[num] }}</p>
    <input type="radio" name="page{{count}}-q{{num}}" [(ngModel)]="test.answers[count*10+num]" value="a">
    <label>{{ options[count][num][0] }}</label>
    
    <input type="radio" name="page{{count}}-q{{num}}" [(ngModel)]="test.answers[count*10+num]" value="b">
    <label>{{ options[count][num][1] }}</label>
  </div>
  <button *ngIf="count > 0" (click)="count = count - 1">Previous</button>
  <button disabled *ngIf="count == 0" (click)="count = count + 1">Previous</button>
  <button *ngIf="count <= 5" (click)="count = count + 1">Next</button>
  <button *ngIf="count == 6" (click)="onSubmit()">Submit</button>
</div>

<div class="personality-wrapper" *ngIf="personalityList.length > 1">
  <h3>Choose the personality type that is most suitable to you:</h3>
  <div class="personality" *ngFor="let item of personalityList">
    <h3>{{item}}</h3>
    <label>"{{personalityDictionary[item][0]}}"</label>
    <p>{{personalityDictionary[item][1]}}</p>
  </div>
</div>  