{{ test | json }}
<br>
{{ count }}
<br>
{{ personality | json }}

<div class="survey" *ngFor="let element of questions | slice:count:(count+1)">
  <div *ngFor="let placeholder of questionBank | slice:0:10; let num = index">
    <p>{{ element[num] }}</p>
    <input type="radio" name="page{{count}}-q{{num}}" [(ngModel)]="test.answers[count*10+num]" value="a">
    <label>{{ options[count][num][0] }}</label>
    
    <input type="radio" name="page{{count}}-q{{num}}" [(ngModel)]="test.answers[count*10+num]" value="b">
    <label>{{ options[count][num][1] }}</label>
  </div>
  <button *ngIf="count > 0" (click)="count = count - 1">Previous</button>
  <button disabled *ngIf="count == 0" (click)="count = count + 1">Previous</button>
  <button *ngIf="count <= 5" (click)="count = count + 1">Next</button>
  <button *ngIf="count == 6" (click)="onSubmit()">Submit</button>
</div>

<!-- <form>
  <div *ngFor="let element of questions; let idx = index">    
    <p>{{ element }}</p>
    <input type="radio" name="q{{idx}}" [(ngModel)]="test.answers[idx]" value="a">
    <label>{{ options[idx][0] }}</label>
    
    <input type="radio" name="q{{idx}}" [(ngModel)]="test.answers[idx]" value="b">
    <label>{{ options[idx][1] }}</label>
    <div *ngIf="idx%10 == 9">
      <hr>
    </div>
  </div>
  <input type="submit" id="submit" value="Submit">
</form> -->