wrapper {
    padding: 10px;
}
h1, h2 {
    text-align: center;
}
p {
    margin: 0 20%;
}
#card {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}
textarea, #name, #age, #description {
    background-color: transparent;
    border: 0;
    margin-bottom: 10px;
}
#name, #age {
    border-bottom: 2px solid blue !important;
    font-size: 12pt;
    font-family: serif;
}
#card-center {
    margin: 0 auto;
    width: 260px;
    background-color: orange;
}
#card-top {
    display: inline-block;
    background-color: red;
}
i {
    font-size: 100px;
    text-align: center;
    width: 100px;
    margin: 80px;
}
#name {
    width: 150px;
}
#age {
    width: 30px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
#description {
    height: 100px;
    width: 256px;
    resize: none;
    font-family: serif;
}
#image {
    background-color: grey;
    margin: 20px;
    vertical-align: top;
    display: inline-block;
    width: 260px;
    height: 260px;
}
#submit {
    width: 100%;
    padding: 5px;
}