#wrapper {
    margin: 0 auto;
    width: 640px;
}
h1, h2 {
    text-align: center;
}
p {
    margin: 0 20%;
}
#form {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    margin: 0 20px 20px 20px;
}
#form input,textarea {
    display: block;
}
#name-age input{
    display: inline-block;
    vertical-align: top;
}
#name-age, textarea {
    margin-bottom: 7px;
}
.input-field {
    width: 196px;
    margin-bottom: 7px;
}
#card {
    display: inline-block;
    vertical-align: top;
    width: 244px;
    height: 461px;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}
i {
    font-size: 100px;
    text-align: center;
    width: 100px;
    margin: 52px;
}
#name {
    width: 149px;
}
#age {
    width: 35px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
#description {
    height: 75px;
    width: 200px;
    resize: none;
    font-family: serif;
}
#image {
    background-color: grey;
    margin: 20px;
    vertical-align: top;
    display: inline-block;
    width: 204px;
    height: 204px;
}
#submit {
    /* width: 100%; */
    padding: 5px;
}