<h1>Welcome to MBTI Dating!</h1>

<p>The Myers-Briggs Type Indicator (MBTI) is an assessment that is believed to measure psychological preferences in 
how people perceive the world and make decisions. According to the Myers-Briggs test, there are 16 different types 
of personalities. The test consists of a series of questions, and your answers determine what type of personality you have 
and provides general assumptions about how your personality type is best suited for success in terms of careers, communication, etc.</p>

<p>By using this website you can find your next partner based on the compability of your personalities.</p>

<app-loginreg></app-loginreg>