<h1>Welcome to MBTI Dating!!</h1>

<p>The Myers-Briggs Type Indicator (MBTI) is an assessment that is believed to measure psychological preferences in 
how people perceive the world and make decisions. According to the Myers-Briggs test, there are 16 different types 
of personalities. The test consists of a series of questions, and your answers determine what type of personality you have 
and provides general assumptions about how your personality type is best suited for success in terms of careers, communication, etc.</p>

<h2>Create an account</h2>

<div id="card">
  <div id="image">
      <i class="fa fa-user" aria-hidden="true"></i>      
  </div>
  <div id="card-center">
      <div id="card-top">
        <input type="text" id="name" placeholder="Name">
        <input type="number" id="age" placeholder="Age">
      </div>
    <textarea id="description" placeholder="Description (max. 150 chars)"></textarea>
    <input type="submit" id="submit" value="Take the test!">
  </div>
</div>